body{
  color: white;
  background-color: black;
}
.player-hand{
  position: absolute;
  bottom: 10px;
  margin:000;
}

h1{
  color: red;
}
.stay{
  display: none;
}
.pCards{
  height: 180px;
  width: 125px;
}
.cCards{
 height: 180px;
 width: 125px; 
}
