body{
  color: white;
  background-color: black;
}

h1{
  color: red;
}
.stay{
  display: none;
}
.pCards{
  height: 180px;
  width: 125px;
}
.cCards{
 height: 180px;
 width: 125px; 
}
.first{
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button{
  background-color: #c79316;
  text-align: left;
}